/* =============== CLASSES ================================ */

.buttons{
    justify-content: space-between;
    align-items: center;
}

.update-modal-header{
    text-align: center;
    align-items: left;

    font-size: large;
}